

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"
501 icon "mainicon.ico"


111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "ss.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Barreira.bmp"

