

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"
501 icon "mainicon.ico"


111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Sweep.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "b2.bmp"


